// _base.scss
$font-stack:  "Source Sans Pro", sans-serif;
$primary-color: #292929;
$secondary-color: #B1B1B1;
$asparagus-color: #85A56A;
$midgreen-color: #598955;
$background-color: #ffffff;

$lang-hover-color: #e5e564;
$dot-color: #bbb;
$dot-hover-color: #717171;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$button-border-radius: 1.5rem;