@use 'base';

.about-cont {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
}

@media (max-width: base.$breakpoint-md) {
    .about-cont {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.social-cont {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}

.tumblr.resize {
    width: 50px;
    height: auto;
}

.social-logo {
    font-size: xxx-large;
    color: var(--logo-color);
}

.social-logos-container {
    display: flex;
    gap: 8px;
}

.social-logos:hover {
    color: var(--primary-color);
}

@media (max-width: base.$breakpoint-md) {
    .image-text-cont {
        flex-direction: column;
    }
}

.image-text-cont-desktop {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about-text-cont {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.about-text {
    flex: 1;
    height: 100%;
    flex-direction: column;
    display: flex;
    max-width: 350px;
}

#aboutImgSrc {
    flex: 1;
    object-fit: cover;
    display: flex;
    width: 100%;
    border-radius: 15px;
    min-width: 150px;
    min-height: 150px;
    max-width: 400px;
    max-height: 400px;
}
@media screen and (max-width: base.$breakpoint-sm) {
    #aboutImgSrc {
        border-radius: 0px;
    }
}

.text-links-cont {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.social-cont-title {
    font-weight: bold;
}
