@use "base";

.about-cont {
    margin: 1em;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-cont{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.tumblr.resize {
    width: 50px;
    height: auto;
}

.social-logo {
    font-size: xxx-large;
    color: #393737;
}

.social-logos-container {
    display: flex;
    gap: 8px;
}

.social-logos:hover {
    color: black;
}


.image-text-cont {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

@media (max-width: base.$breakpoint-md){
    .image-text-cont {
        flex-direction: column;
}
}

.image-text-cont-desktop {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about-text {
    flex: 1;
    height: 100%;
    flex-direction: column;
    display: flex;
    max-width: 350px;
}

#aboutImgSrc {
    flex: 1;
    object-fit: cover;
    display: flex;
    width: 100%;
    border-radius: 15px;
    padding: 5px;
    min-width: 150px;
    min-height: 150px;
    max-width: 400px;
    max-height: 400px;
}
.text-links-cont {
    display: flex;
    flex-direction: column;
}