@use 'base';

html {
    border: 0;
    height: 100%;

    overflow-y: scroll;
    overflow-x: hidden;

    font-family: base.$font-stack !important;

    color: var(--primary-color);
    background: var(--background-color);
    transition: background-color 0.3s ease-in-out;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    height: 100%;
    padding: 0 !important;
}

a {
    color: var(--menu-color);
    text-decoration: none;
}
a:hover {
    color: var(--link-active-color);
}

.App {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}
.icon-hamburger {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    height: 80px;
    width: auto;
    top: 18px;
    left: 34px;
    right: 34px;
}

.burger-button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.site-cont {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    margin: 0;
    gap: 8px;
}

.col {
    margin: auto 0;
    display: flex;
    align-content: center;
}

.sideContentCont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}

.sidebar-col {
    display: flex;
    flex-direction: row;
}

.content-col {
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    flex: 1;
    justify-content: center;
    align-content: flex-end;
}

.footer-text {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: var(--secondary-color);
    font-size: small;
    font-weight: bold;
}

.side-content-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 16px;
}
.content-col {
    display: flex;
    flex: 6;
    align-content: center;
    justify-content: center;
}
