@use 'base';

.gallery {
    margin: 1em auto;
    display: flex;
    //justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.artwork-desktop {
    border-radius: 0.3rem;
    object-fit: cover;
    width: 100%;
    opacity: 1;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.artwork-desktop:hover {
    cursor: pointer;
    opacity: 0.7;
}

.artwork:hover {
    border-radius: 0.3rem;
}

.artwork-cont {
    box-sizing: border-box; /* tells browser to include border in width calculation */
    float: left;
    background-repeat: no-repeat;
    background-position: center center; /* keep image centered */
    background-size: cover; /* fill the whole square */
    width: 20%;
    border: 5px solid transparent; /* arbitrary amount of whitespace between images */
}

@media screen and (max-width: base.$breakpoint-lg) {
    .artwork-cont {
        width: 25%;
    }
}

@media screen and (max-width: base.$breakpoint-md) {
    .artwork-cont {
        width: 50%;
    }
}

@media screen and (max-width: base.$breakpoint-sm) {
    .artwork-cont {
        width: 100%;
    }
}

.artwork-info-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto 0.5em;
    flex-direction: column;
}

.title-year-cont {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 5px;
    padding-top: 5px;
    gap: 4px;
}

.artwork-subtitle {
    color: var(--primary-color);
}
