.gallery {
    margin: 1em auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.artwork-desktop {
    border-radius: 0.3rem;
    object-fit: cover;
    height: 20rem;
    width: 20rem;
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;

}
.artwork-desktop:hover {
    cursor: pointer;
    opacity: 0.7;
}
.artwork-mobile {
    border-radius: 0.3rem;
    object-fit: cover;
    height: 8rem;
    width: 8rem;
}

.artwork:hover {
    border-radius: 0.3rem;
    height: 20rem;
    width: 20rem;

}

.artwork-cont {
    display: flex;
    flex: 1;
    margin: 8px;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
}

.artwork-info-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto 0.5em;
    flex-direction: column;

}

.title-year-cont {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.artwork-name {
    color: grey;
    padding-left: 5px;
    padding-top: 5px;
}

.year {
    color: grey;
    padding-left: 5px;
    padding-top: 5px;
}