.collection-title {
    font-size: x-large;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 0.2em;
    padding-left: 0.5em;
}

.collections-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
