.collection-title-cont {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--secondary-color);
    padding: 0.5em;
    gap: 0.5em;
}

.collections-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
