@use 'base';

.brand-icon-cont {
    display: flex;
    justify-content: center;
    margin: 8px 8px 8px 0;
}

.sidebar-icon {
    border-radius: 30px;
}

.brand,
.brand:hover {
    display: flex;
    color: var(--primary-color);
    text-decoration: none;
    flex-direction: row;
}

.brand {
    font-size: xx-large !important;
}

.brand-title {
    display: flex;
    align-items: center;
}
.brand-title-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8px;
    font-size: x-large;
}
.brand-mobile-bot {
    padding-left: 25px;
}

.page {
    display: flex;
    color: var(--link-color);
    padding: 5px;
    font-size: x-large;
    text-decoration: none;
}

.page:hover {
    color: var(--link-active-color);
}

.page-active {
    padding: 5px;
    color: var(--link-active-color);
    border-bottom: 2px var(--link-active-color) solid;
    display: flex;
    font-size: x-large;
    text-decoration: none;
    padding: 3px;
}

.nav-brand-cont {
    display: flex;
    justify-content: center;
}
.nav-item-cont {
    display: flex;
    justify-content: center;
    margin: auto 24px;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
}

.nav-link:hover {
    color: var(--link-active-color);
}

.nav-brand-cont-mobile {
    display: flex;
    justify-content: flex-start;
}

.nav-brand-cont-desktop {
    display: flex;
    margin: 16px 24px;
}
.sidebar-options-desktop {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
.sidebar-options-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex: 1;
    align-items: center;
}
