.brand-icon-cont {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.sidebar-icon {
    border-radius: 25px;
}

.brand,
.brand:hover {
    color: #111010;
    text-decoration: none;
}

.brand {
    font-size: xx-large !important;
}

.page {
    display: flex;
    color: #a09898;
    padding: 5px;
    font-size: x-large;
    text-decoration: none;
}

.page:hover {
    color: #32302c;
    text-decoration: none;
}

.nav-brand-cont {
    display: flex;
    justify-content: center;
    margin-left: 4px;
}
.nav-item-cont {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
}

.nav-link:hover {
    color: #32302c;
}

/* Extra small devices (portrait tablets and large phones and phones, 600px and down) */
@media only screen and (max-width: 1000px) {
    .nav-brand-cont {
        display: flex;
        margin: auto;
    }
    .sidebar-options {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        background: white;
        z-index: 2;
    }

    .nav-item-cont {
        display: flex;
        justify-content: center;
        margin: auto;
        flex-wrap: wrap;
        flex-direction: row;
    }
}

/* Bigger devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 1001px) {

    .sidebar-col {
    }
    .nav-item-cont {
        display: flex;
        justify-content: center;
        margin: auto;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .sidebar-options {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background: white;
        z-index: 2;
        position: fixed;
        top: 50%;

        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}