@use 'base';

/*Extra small devices (portrait tablets and large phones and phones, 600px and down) */
.slideshow {
    display: flex;

    height: 100%;
    margin: 0;
    padding: 0;
}

.slideshowSlider {
    display: flex;
    justify-content: center;
    background-position: center center;
    transition: all 0.5s ease-in-out;
    height: 90vh;
    width: 100%;
}
.slide-image {
    object-fit: cover;
    width: 25%;
}
