@use 'base';

/*Extra small devices (portrait tablets and large phones and phones, 600px and down) */
.slideshow {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0;
    width: 100%;
    align-self: center;
}

/* Bigger devices (portrait tablets and large phones, 600px and up) */
@media screen and (max-width: base.$breakpoint-md) {
    /* Slideshow container */
    .slideshow {
        max-width: 95vw;
    }
}

.slideshowSlider {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.slide {
    display: flex;
    object-fit: cover; // Make images cover the area while maintaining aspect ratio
    object-position: 70% 10%; // Center the image within the area
    transition: all 1s ease-in-out;
}
.slide-image {
    width: 100%;
}

.slide-image-hidden {
    width: 10%;
}
