html, body{
    margin: 0 auto;
    padding: 0;
    border: 0;

    overflow-y: auto;
    overflow-x: hidden;

    font-family: 'Source Sans Pro', sans-serif!important;
    font-weight: bold;

    background: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.col {
    margin: auto 0;
    display: flex;
    align-content: center;
}

.carousel-image {
    width: 100%;
    min-width: 300px;
    max-width: 800px;
    border-radius: 25px;
}

.brand,.brand:hover {
    color: #111010;
    text-decoration: none;
}

.brand {
    font-size: xx-large !important;
}

.sidebar-icon {
    border-radius: 25px;
}
.page {
    display: flex;
    color: #a09898;
    margin: 4px 8px;
    padding: 0.25rem !important;
    font-size: large !important;
}

.page:hover{
    color: #32302c;
    text-decoration: none;
}

.nav-brand-cont {
    display: flex;
    justify-content: center;
    margin-left: 4px;
}
.nav-item-cont {
    display: flex;
    justify-content: center;
    margin: auto;
}

.nav-link:hover{
    color: #32302c;
}

.sidebar-col {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}



.content-col {
    display: flex;
    justify-content: center;
}

.tumblr.resize {
    width: 50px;
    height: auto;
}

.social-logos {
    margin: 10px;
    filter: opacity(90%);
}

.social-logos:hover {
    filter: opacity(100%);
}

/* Extra small devices (portrait tablets and large phones and phones, 600px and down) */
@media only screen and (max-width: 768px) {
    .nav-brand-cont {
        display: flex;
        margin: auto;
    }

    .content-col {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

}

/* Bigger devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px) {
    .sidebar-col {
        height: 100vh;
        min-height: 100vh;
    }
    .content-col {
        display: flex;
        justify-content: center;
        margin: auto 0;
    }

    .sidebar-options {
        position: fixed;
        background: white;
        z-index:2;
    }
}

.about-cont {
    margin: auto 0;
}

.gallery {
    margin: 2em auto;
}

.artwork {
    border-radius: 0.3em;
    /*max-width: 100%;*/
    /*max-height: 100%;*/
    object-fit: cover;
}

.artwork-cont {
    display: flex;
    margin: 8px;
    justify-content: center;
    align-self: flex-end;
    position: absolute;
    flex-wrap: wrap;
}

.artwork-info-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto 0.5em;
}

.year {
    color: #a09898;
    display: flex;
    justify-content: center;
    font-size: small;
    margin-bottom: 2.5em;
}