html,
body,
#root {
  padding: 0.3em;
  border: 0;
  margin: 0;
  height: 100%;

  overflow-y: auto;
  overflow-x: hidden;

  font-family: "Source Sans Pro", sans-serif !important;

  background: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.col {
  margin: auto 0;
  display: flex;
  align-content: center;
}

.brand,
.brand:hover {
  color: #111010;
  text-decoration: none;
}

.brand {
  font-size: xx-large !important;
}

.sidebar-icon {
  border-radius: 25px;
}
.page {
  display: flex;
  color: #a09898;
  padding: 5px 5px 10px 5px;
  font-size: x-large;
  text-decoration: none;
}

.page:hover {
  color: #32302c;
  text-decoration: none;
}

.nav-brand-cont {
  display: flex;
  justify-content: center;
  margin-left: 4px;
}
.nav-item-cont {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
}

.nav-link:hover {
  color: #32302c;
}

.content-col {
  display: flex;
  flex: 6;
  justify-content: center;
}

.tumblr.resize {
  width: 50px;
  height: auto;
}

.social-logos {
  margin: 10px;
  /*filter: opacity(90%);*/
  font-size: xxx-large;
  color: #393737;
}

.social-logos:hover {
  /*filter: opacity(100%);*/
  color: black;
}

/* Extra small devices (portrait tablets and large phones and phones, 600px and down) */
@media only screen and (max-width: 1000px) {
  .sideContentCont {
    display: flex;
    flex-direction: column;
    /*border: 1px red solid;*/
    justify-content: center;
  }
  .nav-brand-cont {
    display: flex;
    margin: auto;
  }

  .page {
    display: flex;
    color: #a09898;
    padding: 0.25rem;
    font-size: large;
    text-decoration: none;
  }

  .content-col {
    display: flex;
    justify-content: center;
    margin: 5px 0 auto;
  }
  .sidebar-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: white;
    z-index: 2;
  }

  .nav-item-cont {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .image-text-cont {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-text {
    padding: 10px;
    flex: 1;
    height: 100%;
    flex-direction: column;
    display: flex;
    max-width: 350px;
  }
}

/* Bigger devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 1001px) {
  .sideContentCont {
    display: flex;
    flex-direction: row;
    /*border: 1px red solid;*/
    justify-content: center;
    height: 100%;
  }
  .sidebar-col {
  }

  .content-col {
    display: flex;
    flex: 6;
    /*border: 2px black solid;*/
    align-content: center;
    justify-content: center;
  }

  .nav-item-cont {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .sidebar-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background: white;
    z-index: 2;
    position: fixed;
    top: 50%;

    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .image-text-cont {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .about-text {
    padding: 10px;
    flex: 1;
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    max-width: 350px;
  }
}

.about-cont {
  margin: 1em;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gallery {
  margin: 2em auto;
}

.artwork {
  border-radius: 0.3em;
  object-fit: contain;
  height: 100%;
  width: 100%;
  min-width: 15em;
  max-width: 20em;
  min-height: 15em;
  max-height: 20em;
}

.artwork-cont {
  display: flex;
  flex: 1;
  margin: 8px;
  justify-content: center;
  align-self: flex-end;
  flex-wrap: wrap;
}

.artwork-info-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto 0.5em;
  flex-direction: column;
}

/* appear - on page load */
.fade-appear {
  opacity: 0;
  z-index: 1;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 1000ms linear;
}

/* enter */
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 5000ms linear 5000ms;
}

/* exit */
.fade-exit {
  opacity: 1;
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 5000ms linear;
}
.fade-exit-done {
  opacity: 0;
}
/* slide enter */
.slide-enter {
  opacity: 0;
  transform: scale(0.97) translateY(5px);
  z-index: 1;
}
.slide-enter.slide-enter-active {
  opacity: 1;
  transform: scale(1) translateY(0);
  transition: opacity 3000ms linear 1000ms, transform 3000ms ease-in-out 1000ms;
}

/* slide exit */
.slide-exit {
  opacity: 1;
  transform: scale(1) translateY(0);
}
.slide-exit.slide-exit-active {
  opacity: 0;
  transform: scale(0.97) translateY(5px);
  transition: opacity 1500ms linear, transform 1500ms ease-out;
}
.slide-exit-done {
  opacity: 0;
}
